
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.buttonm {
    background-color: #34513f;
    color: #91ad6e;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    border: solid #34513f;
    font-family: "Hammersmith One";
    transition-duration: 0.2s;
    transform: translate(110%);
    width: 70px;
    height: 50px;
}

.buttonm:hover {
  background-color: #223336;
  color: #91ad6e;
}