
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.button {
    background-color: #34513f;
    color: #6c7f55;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: solid #34513f;
    font-family: "Hammersmith One";
}

