
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*.lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 45px;
    color: #91ad6e;
}*/

.contacto {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 40px;
  background-color: #34513f;
  border-radius: 20px;
  border: solid #223336;
  color: #91ad6e;
  font-size: 45px;
  transition-duration: 0.2s;
}

.contacto img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: solid #223336;
}

.h1 {
  background-color: #34513f;
  color: #91ad6e;
  padding: 20px;
  width: 700px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-self: center;
  text-align: center;

}

.contacto:hover {
  background-color: #223336;
  border: solid #34513f;
}