.contacto img {
    width: 70px;
    margin: 20px;
    border: solid #223336;
    border-radius: 50%;
}

.contacto {
    display: flex;
    flex-direction: row;
    background-color: #34513f;
    text-align: center;
    font-size: 70px;
    color: #91ad6e;
    position:;
}

.inpu button {
    width: 50px;
}

.div {
    display: flex;
    flex-direction: row;
    background-color: #34513f;
    
}


