/*.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}*/

.contactol img {
    width: 4vw;
    height: 4vw;
    margin: 20px;
    background-color: white;
    border: solid #223336;
    border-radius: 50%;
    transform: translate(-8vw, -0.3vw);
}

.contactol h3 {
    color: #061b29;
    transform: translate(6vw, -6vw);
}

.contactol {
    display: flex;
    flex-direction: row;
    background-color: #34513f;
    text-align: center;
    font-size: 50px;
    color: #061b29;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
    height: 12%;
}

.inpu button {
    width: 50px;
}

.inpu {
    width: 100%;
}

/*.div {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #34513f;
    position: fixed;
    top: 0%;
    z-index: 1000;
    
}*/

.mensajeinput {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}