.content {
    background-color: aqua;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contacto img {
    width: 70px;
    margin: 20px;
    border: solid #223336;
    border-radius: 50%;
}

.contacto {
    display: flex;
    flex-direction: row;
    background-color: #34513f;
    text-align: center;
    font-size: 70px;
    color: #91ad6e;
}

/*
.inpu button {
    width: 50px;
}

.inpu {
    width: 100%;
}

.div {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #34513f;
    position: fixed;
    top: 0%;
    z-index: 1000;
    
}

.mensajeinput {
    display: flex;
    flex-direction: column;
}*/


